*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration:none;
}
body{
    background-color: beige;  
}
li{
 list-style-type: none;
}
.navigation img{
    width: 300px;
    height: 150px;
    border-radius: 25px;

}
.navigation{
    padding: 20px 100px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: fixed;
    z-index:+2;
    background-color:#fff;
    width: 100%;
    top: 0px;
    border: 0.1px black solid;
}
.nav-liks{
    display: flex;
    gap: 40px;
    align-items: center;
}
.nav-liks :hover{
    color:palevioletred;
}
.button{
    border: 2px black solid;
    border-radius: 10px;
    background-color: #e93c3c;
    color: white;
    height: 35px;
    width: 100px;
    box-shadow: 0px 2px 5px 0px black ;
}
.button:hover{
    color: black;
    background-color: white;
    cursor: pointer;
    transition: all 0.6 ease-in-out;

}
.services-link{
    display:none;
    position: fixed;
    margin-top: 8px;
    border: 1px black double;
    padding: 10px 15px;
    transition: all 0.8s ease-in-out;
    
}
.services:hover .services-link  {
    display: block;
    transition: all 0.8s ease-in-out;
}
.banner-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 75px;
    background-color:rgb(170, 60, 94);
    height: 350px;
    line-height:25px;
    margin-top: 195px;
}
.banner-section1 h4{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 1000;
}
.banner-section1 h1{
    font-size: 40px;
    font-weight: bold;
    color: rgb(200, 200, 200);
    line-height: 50px;
}
.banner-section1 span{
    font-size: 60px;
    color: white;;
}
.banner-section1 p{
    font-size: 20px;
}
.banner-section1 button{
    margin: 20px;
}
.about-us-section{
    display: flex;
    padding: 50px 30px;
    justify-content: space-between;
    gap: 100px;
}
.home-about-projects{
    display: flex;
    /* gap: 90px; */
    justify-content: space-between;
    padding: 30px 0;
}
.home-about{
    list-style: 25px;
}
.home-about h5{
    font-size: 20px;
    color: #a0145a;
}
.home-about h1{
    font-size:40px ;
    line-height: 40px;
}
.home-about span{
    color: blueviolet;
}
.home-about p{
    font-size: 20pxpx;
    color: black;
}
.home-about-projects h3{
    color: #a0145a;
    font-size: 30px;
}
.home-about-projects p{
    font-size: 20px;
    color: black;
}
.keypoints{
    position: relative;
    background-color: rgb(224, 29, 166);
    width: 100px;
    height: 3px;
    display: block;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* text-align: center; */
    /* margin: 0 auto;          */
}
.keypoints::before{
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    width: 30px;
    animation: underline 1s linear infinite;
    -webkit-animation: underline 1s linear infinite;
}
@keyframes underline{
    from{
        transform: translateX(-50px);
    }
    to{
        transform: translateX(-10px);
    }
}
.Home-services{
    line-height: 25px;
}
.Home-services1{
    
    text-align: center;
}
.Home-services1 h4{
    font-size: 20px;
    color: deeppink;
}

.Home-services1 span{
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.Home-services1 p{
    font-size: 20px;
}
.Home-services2{
    display: grid;
    grid-template-columns: auto auto auto;
     padding: 50px 10px 10px 30px;
     width: 100%; 
     background-color: #fff;
}
.services-cards{
    border: 1px solid black;
    padding: 30px;
    margin: 50px;
    width: 300px;
    height: 350px;
    /* background-color:rgb(255,255,200) ; */
    /* align-items: center; */
    text-align: center;
    position: relative;
    z-index: +1;
}
.services-cards i{
    font-size: 50px;
    color: #e80566;
    line-height: 50px;
   
}
.services-cards h1{
    line-height: 40px;
}
.services-cards p{
    color: rgb(178, 111, 253);
    line-height: 30px;
}
.services-cards span i{
    font-size: 10px;
    width: 10px;
    /* align-items: center; */
    text-align: center;
    color: black;
}
.services-cards::after{
    content: "";
    background-color: #e80566;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(1);
    /* transition: all 0.6s ease-in-out; */
    visibility: hidden;
    z-index: -1;
}
.services-cards:hover::after{
    transform:scale(1);
    /* transition: all 0.6s ease-in-out; */
    visibility: visible;
}
.services-cards:hover i{
    color: #fff;
}
.services-cards:hover p{
    color: #fff;
}
.industrial-section1{
    display: flex;
    justify-content: space-between;
    /* justify-content: space-around; */
    margin: 50px 150px;
    gap: 100px;
    text-align: center;
}
.industrial-1{
    border: 5px solid rgb(211, 26, 88);
    width: 1000px;
    height: 200px;
    text-align: center;
    padding:70px ;
}
.industrial-2 p{
    font-size: 20px;
    line-height: 30px;

}
.industrial-section2{
    /* display: flex; */
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 25px;
    align-items: center;
    /* text-align: center; */
    padding: 0px 60px;
}
.industrial-cards{
    border: 1px solid black;
    padding: 5px;
    background-color: #df5a71;
    width: 100px;
}
.industrial-cards span{
    color: #fff;
}
/* Home social media links starts */
.home-social-links{
    display: grid;
    position: fixed;
    right: 0;
    top: 40%;
    /* border: 1px solid black; */
  
}
.home-social-links i{
    margin: -10px 0px;
    border: 1px solid black;
     border-radius: 5px; 
    text-align: left;
    padding: 5px 100px 5px 5px;
    transform: translateX(100px);
    transition: all 0.6s ease-in-out;
    /* color: #a0145a; */
}
.home-social-links i:hover{
    transform: translateX(10px);
    transition: all 0.6s ease-in-out;
}
.home-social-links i:nth-child(1){
    color: #fff;
     background-color:rgb(48, 114, 235); 
} 
.home-social-links i:nth-child(3){
    color: #fff;
    background-color:rgb(221, 90, 90);
}
.home-social-links i:nth-child(5){
    color: #fff;
    background-color:rgb(83, 129, 212);
}
.home-social-links i:nth-child(7){
    color: #fff;
    background-color:rgb(22, 223, 122);
}
.home-social-links i:nth-child(9){
    color: #fff;
    background-color:rgb(48, 114, 235);
}
/* Home social media links ends */

.scrolling-button{
 width: 50px;
 height: 50px;
 background-color:#a0145a ;
 /* color: #fff; */
 border-radius: 50px;
 margin: 40px 10px;
 border: 1px solid black;
 top: 80%;
 position: fixed;
}
.scrolling-button i{
    color: #fff;
}
.footer-top{
    margin: 50px 0px;
    display: flex;
    gap: 140px;
    padding: 80px 100px;
    background-color: #a0145a;
    color: #f3efeff8;
}
.footer-top1 h4{
    font-size: 30px;
    color: #fff;
}
.footer-top1 p{
    font-size:15px ;
    margin: 20px 0px 0px 0px;
    line-height: 25px;
}
.footer-top2 h4{
    font-size: 15px;
    margin: -15px 0px 0px 0px;
}
.footer-top2 ul{
    margin: 20px 0px 0px 0px;
    line-height: 25px;
    font-size: 15px;
}
.footer-top3 h4{
    /* color:#f3efeff8; */
    margin: -15px 0px 20px 0px;
}
.footer-top3 a{
    color:#f3efeff8;
    line-height: 25px;
}
.footer-top4 i{
    margin: 20px 0px 0px 0px;
    /* gap: 30px; */
    padding: 0px 10px;
}
